@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center">
    
    <iframe width="853" height="480" src="https://www.youtube.com/embed/BIYm2o0TeE8?autoplay=1&mute=1" ></iframe>
    
    <br />
    <br />
    <br />
    <div class=" text-center">
        <h1>Best watches website developed by Anmol Sharma</h1>
        </div>
    <br />
    <br />
    <br />
    <iframe width="853" height="480" src="https://www.youtube.com/embed/PKE8O78-30A?autoplay=1&mute=1"></iframe>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<br />
<br />







<br />





<br />
<div>

</div>

